{% block content %}

<head>
    <title>Customer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/customer.css') }}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <link rel="icon" href="https://img.icons8.com/external-kiranshastry-lineal-color-kiranshastry/64/000000/external-customers-business-and-management-kiranshastry-lineal-color-kiranshastry.png">
</head>

<body>
    
    <div class="login-root">
        <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">
          <div class="loginbackground box-background--white padding-top--64">
            <div class="loginbackground-gridContainer">
              <div class="box-root flex-flex" style="grid-area: top / start / 8 / end;">
                <div class="box-root" style="background-image: linear-gradient(white 0%, rgb(247, 250, 252) 33%); flex-grow: 1;">
                </div>
              </div>
              <div class="box-root flex-flex" style="grid-area: 4 / 2 / auto / 5;">
                <div class="box-root box-divider--light-all-2 animationLeftRight tans3s" style="flex-grow: 1;"></div>
              </div>
              <div class="box-root flex-flex" style="grid-area: 6 / start / auto / 2;">
                <div class="box-root box-background--blue800" style="flex-grow: 1;"></div>
              </div>
              <div class="box-root flex-flex" style="grid-area: 7 / start / auto / 4;">
                <div class="box-root box-background--blue animationLeftRight" style="flex-grow: 1;"></div>
              </div>
              <div class="box-root flex-flex" style="grid-area: 8 / 4 / auto / 6;">
                <div class="box-root box-background--gray100 animationLeftRight tans3s" style="flex-grow: 1;"></div>
              </div>
              <div class="box-root flex-flex" style="grid-area: 2 / 15 / auto / end;">
                <div class="box-root box-background--cyan200 animationRightLeft tans4s" style="flex-grow: 1;"></div>
              </div>
              <div class="box-root flex-flex" style="grid-area: 3 / 14 / auto / end;">
                <div class="box-root box-background--blue animationRightLeft" style="flex-grow: 1;"></div>
              </div>
              <div class="box-root flex-flex" style="grid-area: 4 / 17 / auto / 20;">
                <div class="box-root box-background--gray100 animationRightLeft tans4s" style="flex-grow: 1;"></div>
              </div>
              <div class="box-root flex-flex" style="grid-area: 5 / 14 / auto / 17;">
                <div class="box-root box-divider--light-all-2 animationRightLeft tans3s" style="flex-grow: 1;"></div>
              </div>
            </div>
          </div>
          <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
            <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
              <h1><a href="{{ url_for('customer') }}" rel="dofollow">Customer details</a></h1>
            </div>
            <div class="formbg-outer">
              <div class="formbg">
                <div class="formbg-inner padding-horizontal--48">
                 
                  <form id="stripe-login" action="{{ url_for('customer') }}" method="post" autocomplete="off">
                    
                    <div class="field padding-bottom--24">
                        <label id="Firstname">Firstname: </label>
                        <input name="Firstname" type="text" placeholder="Enter Firstname" required>
                    </div>
                    <div class="field padding-bottom--24">
                        <label id="Middlename">Middlename: </label>
                        <input name="Middlename" type="text" placeholder="Enter Middlename">
                    </div>
                    
                    <div class="field padding-bottom--24">
                        <label id="Lastname">Lastname: </label>
                        <input name="Lastname" type="text" placeholder="Enter Lastname">
                    </div>
                    
                    <div class="field padding-bottom--24">
                        <label id="Email">Email-id: </label>
                        <input name="Email" type="email" placeholder="Enter Email-id">
                    </div>
                    
                    <div class="field padding-bottom--24">
                        <label id="Contactnumber">Phonenumber-1: </label>
                        <input name="Contactnumber" type="number" pattern="\d{10}" placeholder="Enter Phonenumber" >
                    </div>
                    <div class="field padding-bottom--24">
                      <label id="Cnumber">Phonenumber-2: </label>
                      <input name="Cnumber" type="number" pattern="\d{10}" placeholder="Enter Phonenumber">
                  </div>
                    
                    <div class="field padding-bottom--24">
                        <label id="Aadharnumber">Aadhar number: </label>
                        <input name="Aadharnumber" type="number" pattern="\d{4}-\d{4}-\d{4}" placeholder="xxxx-xxxx-xxxx" required>
                    </div>

                    <div class="field padding-bottom--24">
                        <label id="Age">Age: </label>
            <input name="Age" type="number"  placeholder="Age">
                    </div>

                    <div class="field padding-bottom--24">
                        <label id="Postalcode">Postalcode: </label>
            <input name="Postalcode" type="number"  placeholder="Enter Postalcode">
                    </div>

                    <div class="field padding-bottom--24">
                        <label id="City">City: </label>
            <input name="City" type="text" placeholder="Enter City">
                    </div>

                    <div class="field padding-bottom--24">
                        <label id="street">Street name: </label>
            <input name="street" type="text" placeholder="Enter Streetname">
                    </div>
                    {% with messages = get_flashed_messages()  %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
                    <div class="field padding-bottom--24">
                      <input type="submit" name="submit" value="Continue">
                    </div>
                   
                  </form>
                </div>
              </div>
              <div class="footer-link padding-top--24">
                
                <div class="listing padding-top--24 padding-bottom--24 flex-flex center-center">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>
{% endblock %}